<div class="travelopia-dialog am-container" role="region">
  <div class="travelopia-dialog-header" role="heading">
    <div class="travelopia-dialog-header-title" role="text">
      {{ "forgot-password" | translate }}
    </div>
  </div>
  <div class="travelopia-dialog-content" role="region">

    <form #forgotForm="ngForm" name="form" class="form-horizontal am-form" novalidate
      (ngSubmit)="forgotForm.form.valid && forgotPassword()" action="javascript:;" autocomplete="off">


      <mat-form-field class="travelopia-input" appearance="fill">
        <input maxlength="100" type="email" pattern='{{emailRegex}}' matInput
         autocomplete="off" name="email" aria-label="Email"
          #email="ngModel" [(ngModel)]="emailId" required>
        <mat-label>{{"email-label" | translate}}</mat-label>
        <mat-error
          *ngIf="forgotForm.submitted && email.invalid && email.errors.required || email.dirty && email.invalid && email.errors.required">
          {{"email-required-error-text" | translate }}.</mat-error>
        <mat-error
          *ngIf="forgotForm.submitted && email.invalid && email.errors.pattern || email.dirty && email.invalid && email.errors.pattern">
          {{"email-not-valid-error-text" | translate }}.</mat-error>

      </mat-form-field>


      <div class="travelopia-dialog-footer" role="region">
        <div class="button-container travelopia-button" role="region">
          <button mat-flat-button type="submit" color="secondary" [disabled]="!forgotForm.form.valid"
            [class.formvalid]="forgotForm.form.valid">
            {{ "verify" | translate }}
          </button>
        </div>
      </div>

    </form>
  </div>

</div>