@import '../../../assets/theme/travelopia-variables';

.travelopia-dialog-footer {
  display: flex;
  margin-top: 0.5rem;

  .travelopia-button {
    margin: auto;

    button {
      width: 100%;
      background-color: $travelopia-palette-color-2;
      color: $travelopia-palette-color-1;
      font-size: 1rem;
    }

    button.formvalid {
      background-color: $travelopia-palette-color-8;
    }
  }
}